@page
@model RegisterModel



<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Register</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 px-3">

        <div class="col-12 text-center p-0">
            <h3>Create a new account</h3>
        </div>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div class="p-3">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3 row p-1">
                            <label asp-for="Input.Email" class="p-0 mb-2"></label>
                            <input asp-for="Input.Email" tabindex="1" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Input.Password" class="p-0 mb-2"></label>
                            <input asp-for="Input.Password" tabindex="3" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Input.State" class="p-0 mb-2"></label>
                            <input asp-for="Input.State" tabindex="5" class="form-control" autocomplete="username" aria-required="true" placeholder="ankara" />
                            <span asp-validation-for="Input.State" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row p-1">
                            <label asp-for="Input.PhoneNumber" class="p-0 mb-2"></label>
                            <input asp-for="Input.PhoneNumber" tabindex="7" class="form-control" autocomplete="username" aria-required="true" placeholder="+90 000 00 00" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>

                        <div id="Input_Company" class="mb-3 row p-1" style="display:none;">
                            <label asp-for="Input.CompanyId" class="p-0 mb-2"></label>
                            <select asp-for="Input.CompanyId" tabindex="9" asp-items="@Model.Input.CompanyList" class="form-select">
                                <option text-muted disabled selected>--Select Company--</option>
                            </select>
                            <span asp-validation-for="Input.CompanyId" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-6">

                        <div class="mb-3 row p-1">
                            <label asp-for="Input.Name" class="p-0 mb-2"></label>
                            <input asp-for="Input.Name" tabindex="2" class="form-control" autocomplete="username" aria-required="true" placeholder="example" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Input.ConfirmPassword" class="p-0 mb-2"></label>
                            <input asp-for="Input.ConfirmPassword" tabindex="4" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row p-1">
                            <label asp-for="Input.StreetAddress" class="p-0 mb-2"></label>
                            <input asp-for="Input.StreetAddress" tabindex="6" class="form-control" autocomplete="username" aria-required="true" placeholder="cebeci sk. no24" />
                            <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Input.Role" class="p-0 mb-2"></label>
                            <select asp-for="Input.Role" tabindex="8" asp-items="@Model.Input.RoleList" class="form-select">
                                <option text-muted disabled selected>--Select Role--</option>
                            </select>
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>

                    </div>
                </div>




                <div class="row">
                    <div class="col-12 col-md-3">
                        <button id="registerSubmit" type="submit" class="btn btn-dark bg-gradient form-control">Register</button>
                    </div>
                </div>
            </div>


        </form>

        <section>
            <div class="p-3 pt-1">
                <hr class="divider">

                <div class="mb-3 text-center">
                    <h3>Use another service to register</h3>
                </div>
                <div class="mb-3 text-center">
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </div>
            </div>
        </section>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#Input_Role').change(function () {
                var selection = $('#Input_Role Option:Selected').text();
                if (selection == 'Company') {
                    $('#Input_Company').show();
                }
                else {
                    $('#Input_Company').hide();
                }
            })
        })
    </script>
}
